priority 10

snippet fr "insert fractions" w
\frac{$0}{}
endsnippet

snippet suml "sum with limits" w
\sum\limits_{$0}^{}
endsnippet

snippet sq "square roots" w
\sqrt{$0}
endsnippet

snippet intl "integrals" w
\int\limits_{$0}^{}
endsnippet
